<div class="form registrations">
  <div class="pad20">
<div class="brand" style="padding-bottom: 20px;">
  <div id="logo"> <%=link_to( image_tag("logo.png"), root_url(host: request.domain), :class => "logo") %></div>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' },) do |f| %>
    <%= hidden_field_tag 'plan', params[:plan] %>
    <%= display_base_errors resource %>
    <p>Personal Information</p>
    <%= f.input :first_name, :placeholder => "First name", :autofocus => true %>
    <%= f.input :last_name, :placeholder => "Last name" %>
    <%= f.input :email, :placeholder => "Email" %>
      <%= f.input :password, :placeholder => "Password" %>
      <%= f.input :password_confirmation, :placeholder => "Confirm passsword" %>

    <p>Company</p>
    <div>
      <%= f.input :company_name, :placeholder => "Company name"  %>
    </div>

    <% if @user.stripe_token && @current_tenant.nil? %>
        <p class="info-message">Credit card acceptance is pending.</p>
    <% elsif @current_tenant.nil? %>

          <p>Credit Card Information</p>
        <div class="field">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, :placeholder => "Credit card number", :class => "form-field" %>
        </div>
        <div class="field">
          <%= label_tag :card_code, "Card Security Code (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil, :placeholder => "Credit card code", :class => "form-field" %>
        </div>
        <div class="field">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
        </div>
        <div class="field">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
        </div>
    <% end %>
    <%= f.hidden_field :stripe_token %>

      <div class="field button-field">
        <div id="stripe_error" class="info-message" style="display:none" ></div>
        <input class="submit-button btn-green" name="commit" type="submit" value="Sign up">
      </div>
<% end %>
</div>
</div>
