<div class="form registrations">
<div class="brand" style="padding-bottom: 20px;">
  <div id="logo"> <%=link_to( image_tag("logo.png"), root_url(host: request.domain), :class => "logo") %></div>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' },) do |f| %>
    <%= hidden_field_tag 'plan', params[:plan] %>
    <%= f.hidden_field :stripe_token %>

        <%= display_base_errors resource %>
    <%= f.input :first_name, :placeholder => "First name", :autofocus => true %>
    <%= f.input :last_name, :placeholder => "Last name" %>
    <%= f.input :email, :placeholder => "Email" %>
      <%= f.input :password, :placeholder => "Password" %>
      <%= f.input :password_confirmation, :placeholder => "Confirm passsword" %>

      <div class="control-group string optional user_company_name">
        <label class="string optional control-label" for="user_company_name">Company name</label>
        <div class="controls">
          <input class="string optional" id="user_company_name" name="user[company_name]" placeholder="Web Address" type="text" style="width: 135px;
          margin-left: 0px;">
          <span class="add-on">.timecards.io</span>
        </div>
      </div>

    <%= f.hidden_field :stripe_token %>

      <div class="field button-field">
        <div id="stripe_error" class="info-message" style="display:none" ></div>
        <input class="submit-button btn-green" name="commit" type="submit" value="Sign up">
      </div>
        <%= render "devise/shared/links" %>
<% end %>
</div>
