<div class="col-md-3 col-xs-12 polaroid">
	<div class="polaroid polaroid-inner <%= model.isMissingClockOut() ? 'no-clock-out' : '' %>">
		<div class="row-fluid">
			<label class="date col-md-12"><%= model.getFormattedDate() %></label>
		    <div class="avatar timecard-square"></div>
		</div>
		<div class="text row-fluid">
			<label class="col-md-12"><%= model.getFullName() %></label>
			<label class="col-md-12"><%= model.getTimespanLabel() %></label>
            <label class="col-md-12"><%= model.getTimeOwedLabel() %></label>
		</div>
		</div>
	</div>
</div>