<div class="overlay"><div>Getting location from browser...</div></div>
<div class="full-timecard">
<div class="timecard_header">
	<div class="row-fluid">
		<div class="span12">
			<h3><%= model.getFullName()  %></h3>
			<% if (role) {  %>
			    <div class="">
                <a href="#" id="edit">Edit</a>
                </div>
			<% } %>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12"><label><%= model.getTimespanLabel() %></label></div>
	</div>
</div>
<div class="timecard_body row-fluid">
    <p id="gps-error" style="display:none">Browser GPS location unavailable</p>
	<div class="span5 timecard">
		<div class="row-fluid text">
			 <label> <%= model.getTimestampInFormatted() %></label>
			 <div id="from" class="input-append picker" style="display:none;">
                 <input data-format="MM/dd/yyyy hh:mm:ss PP" type="text" value="<%= model.getTimestampInFormatted() %>"></input>
                 <span class="add-on">
                   <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                   </i>
                 </span>
               </div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<div class="avatar avatar-in timecard-square"></div>
				<input id="timecard_photo_out" name="timecard[photo_out]" type="file">
			</div>
			<div class="span5 offset1">
				<div id="map_in" class="map"></div>
				<a id="browser-in" class="location-link" href="#" style="display:none;">Set location<a/>
			</div>
		</div>
	</div>
	<div class="span5 timecard" id="timecard-out">
		<div class="row-fluid text">
			 <label> <%= model.getTimestampOutFormatted() %></label>
			 <div id="to" class="input-append picker" style="display:none;">
                  <input data-format="MM/dd/yyyy hh:mm:ss PP" type="text" value="<%= model.getTimestampOutFormatted() %>"></input>
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                  </span>
                </div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<div class="avatar avatar-out timecard-square"></div>
			</div>
			<div class="span5 offset1">
				<div id="map_out" class="map"></div>
				<a id="browser-out" class="location-link" href="#" style="display:none;">Set location<a/>
			</div>
		</div>
	</div>
</div>
</div>