<h1>Listing timecards</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timecards.each do |timecard| %>
  <tr>
    <td><%= timecard.latitude_in %></td>
    <td><%= timecard.longitude_in %></td>
    <td><%= timecard.timestamp_in %></td>
    <td><%= timecard.latitude_out %></td>
    <td><%= timecard.longitude_out %></td>
    <td><%= timecard.timestamp_out %></td>
    <td><%= link_to 'Show', timecard %></td>
    <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
    <td><%= link_to 'Destroy', timecard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
