<h3 style="padding-left: 30px;">Users</h3>
<div class="timecards-action signup-button-container">
<%= link_to("Add new", new_user_registration_path) %>
</div>
<div class="span12">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Registered</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.first_name, edit_user_path(user), :class => 'action' %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td>
        <% if !(user == current_user) %>
        <%= link_to 'Edit', edit_user_path(user), :class => 'action' %>
        <% end %>
      	<% if @current_tenant.nil? && !(user.has_role? :admin) %>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
        <%= render user %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
