<div class="form">
	<div class="brand" style="padding-bottom: 20px;">
      <div id="logo"> <%=link_to( image_tag("logo.png"), root_url(host: request.domain), :class => "logo") %></div>
	</div>

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' },  :defaults =>  { :input_html => { :class => "form-field" } }) do |f| %>
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <%= f.input :email, :placeholder => "Email", :autofocus => true %>
      <%= f.input :password, :placeholder => "Password" %>

      <!--<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>-->

      <div class="field button-field">
	  <input class="submit-button btn-green" name="commit" type="submit" value="Sign in">
      </div>
      <div class="field button-field">
      <%= render "devise/shared/links" %>
      </div>
	<% end %>
</div>